<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      #myform="ngForm"
      (submit)="next(myform)"
      class="quiz-container"
      id="quiz"
    >
      <div class="quiz-header">
        <h2 id="question">Question text</h2>
        <ul>
          <li>
            <label for="a">{{ quizData[cruntQuestion].question }} </label>
          </li>

          <li>
            <input type="radio" name="answer" id="radio-a" value="a" ngModel />
            <label for="radio-a">{{ quizData[cruntQuestion].a }}</label>
          </li>

          <li>
            <input type="radio" name="answer" id="radio-b" value="b" ngModel />
            <label for="radio-b">{{ quizData[cruntQuestion].b }}</label>
          </li>

          <li>
            <input type="radio" name="answer" id="radio-c" value="c" ngModel />
            <label for="radio-c">{{ quizData[cruntQuestion].c }}</label>
          </li>

          <li>
            <input type="radio" name="answer" id="radio-d" value="d" ngModel />
            <label for="radio-d">{{ quizData[cruntQuestion].d }}</label>
          </li>
        </ul>
      </div>
      <button type="submit" id="submit" value="">Submit</button>
    </form>
    <input
      type="text"
      *ngIf=" == 'two'"
    />

    <p></p>

    <p></p>
  </body>
</html>
