<div class="wrapper">
  <div class="task-input d-flex">
    <input
      #taskinput
      type="text"
      placeholder="Add a new task"
      value="{{ anytask }}"
    />
    <button class="btn btn-primary mx-2 p-1" (click)="addto(taskinput.value)">
      Add task
    </button>
  </div>
  <div class="controls">
    <div class="filters" >
      <span class="active" id="all">All</span>
      <span id="pending" (click)="get('')"> pending  </span>
      <span id="completed" (click)="delete('')">Completed</span>
    </div>
    <button class="clear-btn">Clear All</button>
  </div>
  <ul class="task-box text-primary" *ngFor="let item of list">
    {{
      item.name
    }}
  </ul>

  


</div>
