body {
    font-family: sans-serif;
    font-size: 3em;
  }
  .calc-container,.calc-outer,.calc-inner { margin: auto;}
  
  .calc-container {
    width: 280px;
    border: 1px solid gray;
    border-radius: 5%;
    box-shadow: 0px 0px 50px 2px gray;
  }
  
  .calc-inner { text-align: center;}
  
  .btn {
    border: 1px solid blue;
    border-radius: 10%;
  
  }