<div class="wrapper">
  <div class="task-input d-flex">
    <input
      #task_name
      type="text"
      placeholder="Add a new task"
      [(ngModel)]="tasks_name"
    />
    <button class="btn btn-primary mx-2 p-1" (click)="addto(task_name.value)">
      Add task
    </button>
  </div>
  <div class="controls">
    <div class="filters">
      <span
        id="all"
        [class.active]="selectedStatus == 'all'"
        (click)="selectedStatus = 'all'"
        >All</span
      >
      <span
        id="pending"
        class="active"
        [class.active]="selectedStatus == 'pending'"
        (click)="selectedStatus = 'pending'"
      >
        pending
      </span>
      <span
        id="completed"
        [class.active]="selectedStatus == 'completed'"
        (click)="selectedStatus = 'completed'"
        >Completed</span
      >
    </div>
    <button class="clear-btn">Clear All</button>
  </div>
  <ul
    class="task-box text-primary"
    *ngFor="let item of list; let myIndex = index"
  >
    <div
      *ngIf="
        selectedStatus == 'all' ||
        (selectedStatus == 'pending' && item.completed == false) ||
        (selectedStatus == 'completed' && item.completed == true)
      "
    >
      <input type="checkbox" [(ngModel)]="item.completed" />
      {{ item.name }}

      <span> &#10003; </span>
      <span (click)="deleteItemEvent(myIndex)"> &#10060; </span>
    </div>

    <!--  -->
  </ul>
</div>
